<div id="response" class="ui segment">
    <div class="ui header">
        <i class="ui university icon"></i>
        <div class="content">
            {{ _orgaInfo|raw }}
            <div class="sub header">Votre organisation</div>
        </div>
    </div>
</div>
<div class="ui two column grid">
    <div class="column">
        <div class="ui attached segment">
            <i class="users icon"></i>
            Utilisateurs
        </div>
        <div class="ui attached blue segment">
            <div class="ui divided list">
                <div class="item">
                    <a href="{{ path('new.user') }}" class="ui basic olive button" data-target="#new-user">
                        <i class="plus icon"></i> Ajouter un utilisateur...
                    </a>
                    <div id="new-user" style="margin-top: 3px"></div>
                </div>
                <div class="item">
                    <a href="{{ path('new.users') }}" class="ui basic olive button" data-target="#new-users">
                        <i class="plus icon"></i> Ajouter des utilisateurs...
                    </a>
                    <div id="new-users" style="margin-top: 3px"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<a href="{{ path('main.testAjax') }}" class="ui button" data-target="#response">
    Test Ajax load User
</a>
<a href="{{ path('groups.list') }}" class="ui black button" data-target="#response">Liste des organisations</a>
<a href="{{ path('newOrga') }}" class="ui green button" data-target="#response">Nouvelle organisation</a>
{{ script_foot | raw }}