<div class="ui grid">
    <div class="four wide column">
        <div class="ui inverted attached segment">
            Sections
        </div>
        <div class="ui attached inverted vertical menu">
            {% for section in sections%}
                <a class="item" href="{{ path("section", {section_id:section.id}) }}">{{ section.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui attached segment column">
            {{ sectionName.name }}
        </div>
        <div class="ui attached green segment">
            <div>
                <div class="ui grid">
                    <div class="eight wide column">
                        <img src="/public/assets/img/{{ product.image }}.jpg" style="height: 75%; width: 75%;">
                        <br>
                        {{ product.comments }}
                    </div>
                    <div class="eight wide column">
                        <strong>
                            {{ product.name }}
                        </strong>
                        <div class="ui grid">
                            <div class="five wide column">{{ product.price }}€</div>
                            <div class="five wide column">
                                <div class="ui vertical animated button" tabindex="0">
                                    <div class="hidden content">Add</div>
                                    <div class="visible content">
                                        <i class="shop icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="ui right menu">
                            <a class="ui secondary button">test</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">

        </div>
    </div>
</div>