<div class="ui grid">
    <div class="four wide column">
        <div class="ui inverted attached segment">
            Sections
        </div>
        <div class="ui attached inverted vertical menu">
            {% for section in sections%}
                <a class="item" href="{{ path("section", {section_id:section.id}) }}">{{ section.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui attached segment column">
            {{ sectionName.name }}
        </div>
        <div class="ui attached green segment">
            <div>
                <div class="ui grid">
                    <div class="eight wide column">
                        <img src="/public/assets/img/{{ product.image }}.jpg" style="height: 100%; width: 100%;">
                    </div>
                    <div class="eight wide column">
                        <strong>
                            {{ product.name }}
                        </strong>
                        <div class="ui grid">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>