<div class="ui grid">
    <div class="four wide column">
        <div class="ui inverted attached segment">
            Sections
        </div>
        <div class="ui attached inverted vertical menu">
            {% for section in sections%}
                <a class="item" href="{{ path("section", {section_id:section.id}) }}">{{ section.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui attached segment column">
            {{ sectionName.name }}
        </div>
        <div class="ui attached green segment">
            <div class="ui grid">
                {% for prod in products%}
                    <div class="ui four wide column">

                        <div class="item">
                            <img src="/public/assets/img/{{ prod.image }}.jpg" alt="{{ prod.name }}" width="170" height="130">
                        </div>
                        <div class="item">
                            <div class="ui blue label">{{ prod.price }}€</div>
                            <a href="">
                            <div class="ui vertical animated button" tabindex="0">
                                <div class="hidden content">Add</div>
                                <div class="visible content">
                                    <i class="shop icon"></i>
                                </div>
                            </div>
                            </a>
                        </div>
                        <a href="{{ path('product', {section_id:sectionName.id, product_id:prod.id}) }}">
                        <div class="item">
                            {{ prod.name }}
                        </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>