<div class="ui grid">
    <div class="four wide column">
        <div class="ui inverted attached segment">
            Sections
        </div>
        <div class="ui bottom attached inverted vertical menu">
            {% for section in sections%}
                <a class="item" href="{{ path("section", {section_id:section.id}) }}">{{ section.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui attached segment column">
            Promotions en cours
        </div>
        <div class="ui attached green segment">
            <div class="ui grid">
                {% for prod in products%}
                    <div class="ui two wide column">
                        <div class="item">
                            {{ prod.name }}
                        </div>
                        <div class="item">
                            {{ prod.price }}€
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="ui attached segment">
            Consultés récemment
        </div>
        <div class="ui attached green segment">

        </div>
    </div>
</div>
